DATABASE_URL=
GEMINI_API_KEY=
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
PGUSER=
POSTGRES_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=